package-lock.json

node_modules

actus/audio/*
actus/images/*
actus/temp/*
actus/temp/lastmagazines.json
actus/compilation.mp4
actus/video.mp4

gamenews/images/*
gamenews/audio/*
gamenews/video.mp4

h2p/images/*
h2p/audio/*
h2p/*.mp4

webdriver/images/*
webdriver/temp/*


actus/temp/lastmagazines.json